<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container" id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div style="position: absolute; right: 10px; top: 10px;">
            <button type="submit" id="back" onclick="window.location.href='/'">Back</button>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>