{% extends "layout.html" %}
{% block title %} Physics Simulations {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Schrödinger Equation Simulation</h2>
    <button id="pause-play">Compute</button>
    <div>
        <div id="spinner-container" style="position: absolute; width: 500px; height: 500px; display: flex; justify-content: center; align-items: center;">
            <div class="spinner"></div>
            <br>
            <p>Loading...</p>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='schrodinger.js') }}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/pixi.js@7.x/dist/pixi.min.js"></script>
{% endblock %}